/*
    This stylesheet was created for the index.jsx located inside of the /pages/home
    This is a scoped stylesheet and should only be imported within the index.jsx located in /pages/home
*/

/* Change any style here to match your design for your home page*/
.home {
display: flex;
justify-content: space-evenly;
padding: 20px;
}

body {
  background-color:rgb(100, 182, 237);
}

.home_header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.home_stats {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 990px){
  .home{
    flex-direction: column;
  }
}

.home_left {
  flex: 0.85;
}